In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from functools import reduce
import matplotlib as plt

In [22]:
#2016 Oscar Awards
cast_awards=pd.read_csv('./DataSources/2017CastAwards.csv')
cast_awards

,Title,Best Director,Best Actor,Best Actress,Best Supporting Actor,Best Supporting Actress
0,The Shape of Water,1,0,0,0,0
1,Darkest Hour,0,1,0,0,0
2,Dunkirk,0,0,0,0,0
3,Phantom Thread,0,0,0,0,0
4,The Post,0,0,0,0,0
5,Call Me by Your Name,0,0,0,0,0
6,Lady Bird,0,0,0,0,0
7,"Three Billboards Outside Ebbing, Missouri",0,0,1,1,0
8,Get Out,0,0,0,0,0

In [23]:
#OMBD Calls - done on movies list
theMoviesDF_OMBD = pd.read_csv('./DataSources/OMBD_2017Films.csv', encoding='utf-8')
theMoviesDF_OMBD

,Actors,Awards,Box Office,Country,Director,Genre,Rated,Title,Writer(s),Year,imdbRating
0,"Sally Hawkins, Michael Shannon, Richard Jenkin...",Won 4 Oscars. Another 101 wins & 293 nominations.,"$57,393,976",USA,Guillermo del Toro,"Adventure, Drama, Fantasy, Romance, Thriller",R,The Shape of Water,"Guillermo del Toro (screenplay by), Vanessa Ta...",2017,7.4
1,"Gary Oldman, Kristin Scott Thomas, Ben Mendels...",Won 2 Oscars. Another 40 wins & 63 nominations.,"$28,086,332","UK, USA",Joe Wright,"Biography, Drama, History, War",PG-13,Darkest Hour,Anthony McCarten,2017,7.4
2,"Fionn Whitehead, Damien Bonnard, Aneurin Barna...",Won 3 Oscars. Another 51 wins & 197 nominations.,"$188,042,171","UK, Netherlands, France, USA",Christopher Nolan,"Action, Drama, History, Thriller, War",PG-13,Dunkirk,Christopher Nolan,2017,7.9
3,"Vicky Krieps, Daniel Day-Lewis, Lesley Manvill...",Won 1 Oscar. Another 46 wins & 93 nominations.,"$947,190","USA, UK",Paul Thomas Anderson,"Drama, Romance",R,Phantom Thread,Paul Thomas Anderson,2017,7.5
4,"Meryl Streep, Tom Hanks, Sarah Paulson, Bob Od...",Nominated for 2 Oscars. Another 16 wins & 97 n...,"$80,369,969","USA, UK",Steven Spielberg,"Biography, Drama, History, Thriller",PG-13,The Post,"Liz Hannah, Josh Singer",2017,7.2
5,"Armie Hammer, Timoth√©e Chalamet, Michael Stuhl...",Won 1 Oscar. Another 82 wins & 196 nominations.,NaN,"Italy, France, Brazil, USA",Luca Guadagnino,"Drama, Romance",R,Call Me by Your Name,"James Ivory (screenplay by), Andr√© Aciman (bas...",2017,8.0
6,"Saoirse Ronan, Laurie Metcalf, Tracy Letts, Lu...",Nominated for 5 Oscars. Another 102 wins & 191...,"$48,285,330",USA,Greta Gerwig,"Comedy, Drama",R,Lady Bird,Greta Gerwig,2017,7.5
7,"Frances McDormand, Caleb Landry Jones, Kerry C...",Won 2 Oscars. Another 104 wins & 193 nominations.,"$52,000,189","UK, USA",Martin McDonagh,"Comedy, Crime, Drama",R,"Three Billboards Outside Ebbing, Missouri",Martin McDonagh,2017,8.2
8,"Daniel Kaluuya, Allison Williams, Catherine Ke...",Won 1 Oscar. Another 122 wins & 181 nominations.,"$175,428,355","Japan, USA",Jordan Peele,"Horror, Mystery, Thriller",R,Get Out,Jordan Peele,2017,7.7

In [24]:
#TMDB Calls
theMoviesDF_TMDB=pd.read_csv('./DataSources/2017moviesDF_TMDB.csv', encoding='utf-8').rename(columns={"Name":"Title"})
theMoviesDF_TMDB

,Title,Company,Revenue,Budget,Runtime,Vote Average,Vote Count,Popularity,Genre,Release Date,Movie ID
0,The Shape of Water,Double Dare You Productions,194989655,19500000,123,7.3,5684,21.903,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",2017-12-01,399055
1,Darkest Hour,Perfect World Pictures,147568410,30000000,125,7.3,2161,13.953,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",2017-11-22,399404
2,Dunkirk,RatPac-Dune Entertainment,525573161,100000000,107,7.4,7684,21.633,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",2017-07-19,374720
3,Phantom Thread,Ghoulardi Film Company,46261438,35000000,131,7.2,1215,10.017,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",2017-12-25,400617
4,The Post,Amblin Entertainment,174503458,50000000,116,7.0,1972,11.181,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",2017-12-22,446354
5,Call Me by Your Name,La Cin√©facture,41063475,4000000,132,8.3,3722,16.849,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",2017-09-01,398818
6,Lady Bird,IAC Films,76858273,10000000,94,7.3,2956,17.112,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",2017-09-08,391713
7,"Three Billboards Outside Ebbing, Missouri",Blueprint Pictures,158526998,15000000,115,8.2,4216,15.942,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",2017-11-10,359940
8,Get Out,Monkeypaw Productions,255017329,4500000,104,7.4,6950,16.420,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",2017-02-24,419430

In [6]:
#fix any title discrepancies between OMBD and TMDB dataframes by replacing incorrect OMBD names with TMDB names
bad_names_OMBD=[]
correct_names_TMDB=[]

for i in theMoviesDF_OMBD["Title"].values:
    if i in theMoviesDF_TMDB["Title"].values:
        pass
    else:
        bad_names_OMBD.append(i)


for i in theMoviesDF_TMDB["Title"].values:
    if i in theMoviesDF_OMBD["Title"].values:
        pass
    else:
        correct_names_TMDB.append(i)

bad_names_OMBD

[]

In [7]:
correct_names_TMDB

[]

# EXTRACTING INFO FROM API CALLS

In [8]:
#DataFrame by Genre (OMBD)
genreMovies=theMoviesDF_OMBD[['Title', 'Genre']]

for i in range(len(genreMovies['Genre'])):
    x=genreMovies['Genre'][i].split(", ")
    genreMovies['Genre'][i]=x

s=genreMovies.apply(lambda x:pd.Series(x['Genre']), axis=1).stack().reset_index(level=1, drop=True)
s.name = 'Genre'
BP_genres=genreMovies.drop('Genre', axis=1).join(s)
BP_genres=pd.get_dummies(BP_genres, columns=['Genre'])
BP_genres=BP_genres.groupby('Title').sum()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [9]:
#Dataframe by IMBD rating (OMBD)
BP_IMBD=theMoviesDF_OMBD[['Title','imdbRating']]

#Dataframe by Rating (OMBD)
BP_Rating_qual=theMoviesDF_OMBD[['Title','Rated']]
#consolidate certain ratings
BP_Rating_qual['Rated']=BP_Rating_qual['Rated'].replace({'GP':'PG',
                                                        'M/PG': 'PG',
                                                        'TV-MA': 'R',
                                                        'TV-PG': 'PG',
                                                        'PASSED':'APPROVED',
                                                        'NOT RATED': 'UNRATED'})
BP_Rating=pd.get_dummies(BP_Rating_qual, columns=['Rated'])

#Dataframe by Country (OMBD)
BP_Country_qual=theMoviesDF_OMBD[['Title','Country']]
BP_Country=pd.get_dummies(BP_Country_qual, columns=['Country'])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [10]:
#Dataframe by Revenue and Budget (TMDB)
BP_Revenue_Budget=theMoviesDF_TMDB[['Title','Revenue', 'Budget']]

#Dataframe by Popularity (TMDB)
BP_Popularity = theMoviesDF_TMDB[['Title','Popularity']]

#Dataframe by Run Time (TMDB)
BP_Runtime = theMoviesDF_TMDB[['Title','Runtime']]

In [11]:
#Dataframe for Release Month (TMDB)
BP_RelMonth_qual = theMoviesDF_TMDB[['Title','Release Date']]
for i in range(len(BP_RelMonth_qual['Release Date'])):
    x=BP_RelMonth_qual['Release Date'][i].split("-")
    BP_RelMonth_qual['Release Date'][i]=x[1]

BP_RelMonth=pd.get_dummies(BP_RelMonth_qual, columns=['Release Date'])

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [26]:
#create a spreadsheet of all info (cannot have string as values)
theMoviesDF=pd.merge(cast_awards, BP_IMBD, on= 'Title', how='inner')
dfs=[theMoviesDF, BP_Popularity, BP_Rating, BP_RelMonth, BP_Revenue_Budget, BP_Runtime, BP_genres]
theMoviesDF= reduce(lambda df1,df2: pd.merge(df1,df2,on=['Title'], how='left'), dfs)
theMoviesDF.fillna(0, inplace=True)
theMoviesDF.to_csv('theMovies2017.csv', index=False)
theMoviesDF

,Title,Best Director,Best Actor,Best Actress,Best Supporting Actor,Best Supporting Actress,imdbRating,Popularity,Rated_PG-13,Rated_R,...,Genre_Comedy,Genre_Crime,Genre_Drama,Genre_Fantasy,Genre_History,Genre_Horror,Genre_Mystery,Genre_Romance,Genre_Thriller,Genre_War
0,The Shape of Water,1,0,0,0,0,7.4,21.903,0,1,...,0,0,1,1,0,0,0,1,1,0
1,Darkest Hour,0,1,0,0,0,7.4,13.953,1,0,...,0,0,1,0,1,0,0,0,0,1
2,Dunkirk,0,0,0,0,0,7.9,21.633,1,0,...,0,0,1,0,1,0,0,0,1,1
3,Phantom Thread,0,0,0,0,0,7.5,10.017,0,1,...,0,0,1,0,0,0,0,1,0,0
4,The Post,0,0,0,0,0,7.2,11.181,1,0,...,0,0,1,0,1,0,0,0,1,0
5,Call Me by Your Name,0,0,0,0,0,8.0,16.849,0,1,...,0,0,1,0,0,0,0,1,0,0
6,Lady Bird,0,0,0,0,0,7.5,17.112,0,1,...,1,0,1,0,0,0,0,0,0,0
7,"Three Billboards Outside Ebbing, Missouri",0,0,1,1,0,8.2,15.942,0,1,...,1,1,1,0,0,0,0,0,0,0
8,Get Out,0,0,0,0,0,7.7,16.420,0,1,...,0,0,0,0,0,1,1,0,1,0